<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsolutionssp.pill"
    android:versionCode="13"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
        <!-- Used for the alarms -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Used for google analytics -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@style/Theme.Sherlock">

        <activity
            android:name="com.jsolutionssp.pill.ContraceptivePill"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Preference Activity -->
        <activity
            android:name="com.jsolutionssp.pill.preference.PreferencesActivityV7"
            android:label="@string/preferences_activity_title"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Admob -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- Alarms -->
        <!-- This one needs to be exported because it listens to the broadcast BOOT_COMPLETED -->
        <receiver android:name="com.jsolutionssp.pill.service.SetAlarms" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.jsolutionssp.pill.updateAlarm" />
            </intent-filter>
        </receiver>
        <!-- The next two receivers doesn't need to be exported because they are for internal use -->
        <receiver android:name="com.jsolutionssp.pill.service.CycleAlarmTriggered" 
            android:exported="false">
            <intent-filter>
                <action android:name="triggerCycleAlarm" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jsolutionssp.pill.service.DiaryAlarmTriggered" 
            android:exported="false">
            <intent-filter>
                <action android:name="triggerDiaryAlarm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>